@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    list-style: none;
}

body {
    background: #ecf0f3;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: 2px solid rgb(237, 237, 237);
    outline: none;
    background: rgb(237, 237, 237);
    padding: .75rem 1.5rem;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #b1b1b1,
                -2px -2px 6px rgb(255, 255, 255);
    transition: all .2s ease-in;
}

button:hover {
    border: 2px solid #000000;
}

button:active {
    box-shadow: none;
}

.error {
    display: none;
    align-items: center;
    margin: 1.5rem 0;
}

.error span {
    margin-left: .5rem;
    font-size: 1.2rem;
}

.countries {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.header {
    margin-bottom: 2rem;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: .5rem 1rem;
    box-shadow: 4px 4px 8px #b1b1b1,
                -4px -4px 8px rgb(255, 255, 255);
    transition: all .2s ease-in;
}

.country:hover {
    transform: scale(1.05);
}

.country ul {
    width: 70%;
}

li {
    padding: 1rem 0;
    border-bottom: 1px solid rgb(182, 182, 182);
}

li:last-child {
    border-bottom: none;
}

.country div {
    width: 30%;
    height: 40%;
    margin-left: 1rem;
}

.flag {
    width: 100%;
    height: 100%;
}


/* Loader */

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .2rem;
    z-index: 499;
}

#bar1, #bar2, #bar3, #bar4, #bar5 {
    width: 10px;
    height: 180px;
    background: #000000;
    margin-left: .3rem;
    border-radius: 10px;
    animation: animateLoader .9s ease-in-out infinite;
    -webkit-animation: animateLoader .9s ease-in-out infinite;
    -moz-animation: animateLoader .9s ease-in-out infinite;
}

#bar2, #bar4 {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
}

#bar3 {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
}

@-webkit-keyframes animateLoader {
    0% {
        height: 50px;
    }
    50% {
        height: 180px;
    }
    100% {
        height: 50px;
    }
}

@keyframes animateLoader {
    0% {
        height: 50px;
    }
    50% {
        height: 180px;
    }
    100% {
        height: 50px;
    }
}

@media screen and (max-width: 368px) {
    .countries {
        grid-template-columns: repeat(1, 1fr);
    }

    .country {
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem 1rem 1rem 1rem;
    }

    .country div {
        width: 50%;
        margin: 0;
    }
        
    .country ul {
        width: 100%;
    }

    li:first-child {
        text-align: center;
    }
}